<ion-view title="Common Lab Values" id="page160">
  <ion-content padding="true" class="has-header">
    <table>
      <tbody>
        <tr>
          <th colspan="3">
            <span style="font-weight:bold">Lab Values</span>
          </th>
        </tr>
        <tr>
          <td>
            <span style="font-weight:bold">Aterial Blood Gases</span>
          </td>
          <td colspan="2">Normal Limits</td>
        </tr>
        <tr>
          <td>pH</td>
          <td>7.35</td>
          <td>7.45</td>
        </tr>
        <tr>
          <td>pCO2</td>
          <td>35</td>
          <td>45</td>
        </tr>
        <tr>
          <td>HCO3</td>
          <td>22</td>
          <td>26</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>WBC</td>
          <td>4.5</td>
          <td>11.5</td>
        </tr>
        <tr>
          <td>RBC</td>
          <td>4.2</td>
          <td>5.4</td>
        </tr>
        <tr>
          <td>Hemoglobin</td>
          <td>12</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Hematocrit</td>
          <td>36</td>
          <td>46</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Sodium</td>
          <td>137</td>
          <td>146</td>
        </tr>
        <tr>
          <td>Potassium</td>
          <td>3.5</td>
          <td>5</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Kidney Function Tests</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>BUN</td>
          <td>8</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Creatinine</td>
          <td>0.6</td>
          <td>1.1</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Liver Enzymes</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>AST</td>
          <td>9</td>
          <td>40</td>
        </tr>
        <tr>
          <td>ALT</td>
          <td>0</td>
          <td>40</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Lactic for Sepsis</td>
          <td>0.5</td>
          <td>2</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>D-Dimer (Blood-clots)</td>
          <td>&lt;500</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Troponin (Cardiac Muscle Damage)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>&lt;0.02</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>BNP (Heart Failure)</td>
          <td>&lt;100</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <style>
      table, th, td {
          border: 1px solid black;
      <table>
        <tr>
          <th colspan="3"><span style="font-weight:bold">Lab Values</span></th>
        </tr>
        <tr>
          <td><span style="font-weight:bold">Aterial Blood Gases</span></td>
          <td colspan="2">Normal Limits</td>
        </tr>
        <tr>
          <td>pH</td>
          <td>7.35</td>
          <td>7.45</td>
        </tr>
        <tr>
          <td>pCO2</td>
          <td>35</td>
          <td>45</td>
        </tr>
        <tr>
          <td>HCO3</td>
          <td>22</td>
          <td>26</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>WBC</td>
          <td>4.5</td>
          <td>11.5</td>
        </tr>
        <tr>
          <td>RBC</td>
          <td>4.2</td>
          <td>5.4</td>
        </tr>
        <tr>
          <td>Hemoglobin</td>
          <td>12</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Hematocrit</td>
          <td>36</td>
          <td>46</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Sodium</td>
          <td>137</td>
          <td>146</td>
        </tr>
        <tr>
          <td>Potassium</td>
          <td>3.5</td>
          <td>5</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Kidney Function Tests</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>BUN</td>
          <td>8</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Creatinine</td>
          <td>0.6</td>
          <td>1.1</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Liver Enzymes</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>AST</td>
          <td>9</td>
          <td>40</td>
        </tr>
        <tr>
          <td>ALT</td>
          <td>0</td>
          <td>40</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Lactic for Sepsis</td>
          <td>0.5</td>
          <td>2</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>D-Dimer (Blood-clots)</td>
          <td>&lt;500</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Troponin (Cardiac Muscle Damage)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>&lt;0.02</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>BNP (Heart Failure)</td>
          <td>&lt;100</td>
          <td></td>
        </tr>
      </table></div>
    </style>
  </ion-content>
</ion-view>