<ion-view title="Information" id="page18">
  <ion-content padding="true" class="has-header">
    <h4 id="information-heading79" style="color:#000000;font-weight:600;">About</h4>
    <div id="information-markdown66" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This applications was designed for CCEMS to provide fast access to the CCEMS protocols. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <h4 id="information-heading80" style="color:#000000;font-weight:600;">Legend</h4>
    <div id="information-markdown67" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">Blue text indicates the most recent changes made to that specific protocol.</p>
    </div>
    <div id="information-markdown68" class="show-list-numbers-and-dots">
      <p style="color:#04B431;">Green text indicates changes made in the previous update. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <h4 id="information-heading81" style="color:#000000;font-weight:600;">Contact</h4>
    <div id="information-markdown69" class="show-list-numbers-and-dots">
      <p style="color:#000000;">If you have any questions about the app, or simply want to provide feedback, please contact Diego at the link below.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-list id="information-list102">
      <ion-item class="item-icon-right" id="information-list-item120" href="mailto:Diego.Carta@loganutah.org">Contact Diego @ Logan Fire
        <i class="icon ion-email"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 748px; height: 65px;"></div>
    <h4 id="information-heading732" style="color:#000000;font-weight:600;">Changelog</h4>
    <div id="information-markdown2036" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">
        <strong>November 1, 2019</strong>
      </p>

      <p style="color:#0000FF;">Grammar Fixes, no protocol changes made. </p>
    </div>
    <div class="spacer" style="width: 748px; height: 21px;"></div>
    <div id="information-markdown2027" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">
        <strong>August 7, 2019</strong>
      </p>

      <p style="color:#0000FF;">Grammar Fixes, no protocol changes made.
        <br>Controlled meds are labeled as such in the medications list. </p>
    </div>
    <div class="spacer" style="width: 748px; height: 21px;"></div>
    <div id="information-markdown1723" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">
        <strong>January 29th, 2019</strong>
      </p>

      <p style="color:#0000FF;">
        <a href="#/Tabs_Controller/tab1/Protocol_901">Protocol 901 Scene Release</a> had additions made to the "OLMC should be contacted for a scene release if a patient has any of the following conditions..." section. </p>
    </div>
    <div class="spacer" style="width: 748px; height: 21px;"></div>
    <div id="information-markdown1661" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">
        <strong>January 29th, 2019</strong>
      </p>

      <p style="color:#0000FF;">
        <a href="#/Tabs_Controller/tab1/Protocol_910">Protocol 910</a> had the following added: If the patient being transported has any type of Vascular Access in addition to monitoring the site(s), the PCR shall document the following: Site(s), Appearance, Patency, and Size, of the vascular access
        device.. </p>
    </div>
    <div class="spacer" style="width: 748px; height: 21px;"></div>
    <div id="information-markdown2037" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">
        <strong>January 29th, 2019</strong>
      </p>

      <p style="color:#0000FF;">
        <a href="#/Tabs_Controller/tab1/Protocol_914">Protocol 914</a> has been modified to add the humeral I/O site. </p>
    </div>
    <div class="spacer" style="width: 748px; height: 21px;"></div>
    <div id="information-markdown1716" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">
        <strong>January 29th, 2019</strong>
      </p>

      <p style="color:#0000FF;">An
        <a href="#/Tabs_Controller/Protocol_1022">Oxygen</a> drug card has been added to the "Drugs" section of the protocols. </p>
    </div>
    <div class="spacer" style="width: 748px; height: 21px;"></div>
    <div id="information-markdown1715" class="show-list-numbers-and-dots">
      <p style="color:#008000;">
        <strong>December 10, 2018</strong>
      </p>

      <p style="color:#008000;">Lab Values- </p>

      <p style="color:#008000;">
        <a href="#/Tabs_Controller/Common_Lab_Values">Common Lab Values</a> have been placed in the Quick Reference section, towards the bottom of the page. </p>
    </div>
    <div class="spacer" style="width: 748px; height: 21px;"></div>
    <div id="information-markdown1667" class="show-list-numbers-and-dots">
      <p style="color:#008000;">
        <strong>December 10, 2018</strong>
      </p>

      <p style="color:#008000;">New patient reporting guidelines-
        <br> * These guidelines provide a complete list of the information that should be provided to the hospitals upon calling and giving a patient report. Guidelines can be found here:
        <a href="#/Tabs_Controller/MIST">MIST Guidelines</a>. </p>

      <p style="color:#008000;">This also includes both Logan Regional Hospital and Cache Valley Hospital phone #'s.
      </p>
    </div>
    <div class="spacer" style="width: 748px; height: 21px;"></div>
    <div id="information-markdown1668" class="show-list-numbers-and-dots">
      <p style="color:#008000;">
        <strong>December 10, 2018</strong>
      </p>

      <p style="color:#008000;">New Drug-
        <br> * Valium has been replaced with
        <a href="#/Tabs_Controller/Protocol_1022">Lorazepam (Ativan)</a>. </p>

      <p style="color:#008000;"> All Corresponding
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_201">201</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_509">509</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_714">714</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_802">802</a> have also ben updated. </p>
    </div>
    <div class="spacer" style="width: 748px; height: 21px;"></div>
    <div id="information-markdown1666" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>August 24, 2018</strong>
      </p>

      <p style="color:#000000;">Introduction-
        <br> * While on scene with a CCEMS Paramedic and an CCEMS Ambulance AEMT, the Paramedic can authorize the AEMT to administer a medication or treatment that would normally require the AEMT to contact OLMC prior to giving... See
        <a href="#/Tabs_Controller/tab1/Introduction">Introduction</a>
      </p>
    </div>
    <div class="spacer" style="width: 748px; height: 21px;"></div>
    <div id="information-markdown1662" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>August 24, 2018</strong>
      </p>

      <p style="color:#000000;">Protocol 901-
        <br>a. OLMC must be contacted for a scene release if a patient has any...
        <br>b. On scene with CCEMS Paramedic and AEMT ambulance providers, the Paramedics may release themselves from the call and return to active status and turn care over to the AEMT’swithout contacting OLMC if... </p>

      <p style="color:#000000;">See
        <a href="#/Tabs_Controller/tab1/Protocol_901">Protocol 901</a>.</p>
    </div>
    <div class="spacer" style="width: 748px; height: 21px;"></div>
    <div id="information-markdown1665" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>August 24, 2018</strong>
      </p>

      <p style="color:#000000;">OLD Protocol 904-
        <br>Cancelling or Downgrading PM's - has now been DELETED. You no longer need OLMC permission to cancel a PM unit or to down grade their response. It is expected the AEMT's and PM will discuss the circumstances and make the appropriate decisions.
        </p>

      <p style="color:#000000;">NEW
        <a href="#/Tabs_Controller/tab1/Protocol_904-A">Protocol 904</a> A, B and C are trauma protocols.</p>
    </div>
    <div class="spacer" style="width: 748px; height: 21px;"></div>
    <div id="information-markdown1664" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>August 24, 2018</strong>
      </p>

      <p style="color:#000000;">Protocol 910-
        <br>a. Upon receiving a patient for transfer with an IV infusion running the PM or AEMT shall document on the PCR the name of the medication(s) infusing and their rate of infusion by a pump or other device.
        <br>b. Upon receiving a patient for transfer with a ventilator the PM shall document all settings on the PCR. </p>

      <p style="color:#000000;">See
        <a href="#/Tabs_Controller/tab1/Protocol_910">Protocol 910</a>. </p>
    </div>
    <div class="spacer" style="width: 748px; height: 21px;"></div>
  </ion-content>
</ion-view>