<ion-view title="MIST Report Template" id="page128">
  <ion-content padding="true" class="has-header">
    <div>
      <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
        .tg .tg-t6ha{font-weight:bold;font-size:20px;border-color:#000000;text-align:left;vertical-align:top}
        .tg .tg-wp8o{border-color:#000000;text-align:center;vertical-align:top}
        .tg .tg-418g{font-weight:bold;font-size:20px;border-color:#000000;text-align:center;vertical-align:top}
        .tg .tg-4n8x{font-size:20px;border-color:#000000;text-align:center;vertical-align:top}
        .tg .tg-s24g{background-color:#D2E4FC;font-weight:bold;font-size:20px;border-color:#000000;text-align:center;vertical-align:top}
        .tg .tg-8a48{background-color:#D2E4FC;border-color:#000000;text-align:center;vertical-align:top}
      </style>
      <table class="tg">
        <tbody>
          <tr>
            <th class="tg-4n8x" colspan="3">Pre-Hospital Patient Report</th>
          </tr>
          <tr>
            <td class="tg-s24g">M</td>
            <td class="tg-8a48">Mechanism or
              <br>Medical Complaint</td>
            <td class="tg-8a48">Name, Age, Sex, DOB
              <br>Mechanism: Speed, Intrusion, Ejection, Restrained
              <br>Distance of Fall, Weapon used, etc,.
              <br>Medical: Onset, Duration, Brief Medical exam/findings:
              <br>ex: blood thinners. </td>
          </tr>
          <tr>
            <td class="tg-418g">I</td>
            <td class="tg-wp8o">Injuries or
              <br>Illness Identified</td>
            <td class="tg-wp8o">Obvious Injuries
              <br>Pain, Deformity, Injury Patterns
              <br>Medical: STEMI/Stroke/Seizures etc.</td>
          </tr>
          <tr>
            <td class="tg-s24g">S</td>
            <td class="tg-8a48">Signs and Symptoms</td>
            <td class="tg-8a48">Symptoms and Vitals
              <br>First set of Vitals
              <br>HR, BP, SPO2, RR, BG, GCS
              <br>any significant changes</td>
          </tr>
          <tr>
            <td class="tg-t6ha">T</td>
            <td class="tg-wp8o">Treatments</td>
            <td class="tg-wp8o">Tubes, Lines (Locations and Size), Fluids
              <br>Medications and Response, Dressings, Splints
              <br>Defibrillation/Pacing</td>
          </tr>
        </tbody>
      </table>
    </div>
    <style>
      table, th, td {
          border: 1px solid black;
      <table>
        <tr>
          <th colspan="3"><span style="font-weight:bold">Lab Values</span></th>
        </tr>
        <tr>
          <td><span style="font-weight:bold">Aterial Blood Gases</span></td>
          <td colspan="2">Normal Limits</td>
        </tr>
        <tr>
          <td>pH</td>
          <td>7.35</td>
          <td>7.45</td>
        </tr>
        <tr>
          <td>pCO2</td>
          <td>35</td>
          <td>45</td>
        </tr>
        <tr>
          <td>HCO3</td>
          <td>22</td>
          <td>26</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>WBC</td>
          <td>4.5</td>
          <td>11.5</td>
        </tr>
        <tr>
          <td>RBC</td>
          <td>4.2</td>
          <td>5.4</td>
        </tr>
        <tr>
          <td>Hemoglobin</td>
          <td>12</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Hematocrit</td>
          <td>36</td>
          <td>46</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Sodium</td>
          <td>137</td>
          <td>146</td>
        </tr>
        <tr>
          <td>Potassium</td>
          <td>3.5</td>
          <td>5</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Kidney Function Tests</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>BUN</td>
          <td>8</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Creatinine</td>
          <td>0.6</td>
          <td>1.1</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Liver Enzymes</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>AST</td>
          <td>9</td>
          <td>40</td>
        </tr>
        <tr>
          <td>ALT</td>
          <td>0</td>
          <td>40</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Lactic for Sepsis</td>
          <td>0.5</td>
          <td>2</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>D-Dimer (Blood-clots)</td>
          <td>&lt;500</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Troponin (Cardiac Muscle Damage)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>&lt;0.02</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>BNP (Heart Failure)</td>
          <td>&lt;100</td>
          <td></td>
        </tr>
      </table></div>
    </style>
    <ion-list id="mISTReportTemplate-list183">
      <ion-item class="item-divider" id="mISTReportTemplate-list-item-divider7"> Item</ion-item>
      <ion-item class="item-icon-right" id="mISTReportTemplate-list-item212" href="tel:(435) 881-8575">Cache Valley Hospital
        <i class="icon ion-ios-telephone"></i>
      </ion-item>
      <ion-item class="item-divider" id="mISTReportTemplate-list-item-divider6"> Item</ion-item>
      <ion-item class="item-icon-right" id="mISTReportTemplate-list-item211" href="tel:(435) 755-6642">Logan Regional Hospital
        <i class="icon ion-ios-telephone"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>