<ion-view title="Procedural Protocols" id="page26">
  <ion-content padding="true" class="has-header">
    <ion-list id="proceduralProtocols-list125">
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item256" ui-sref="tabsController.protocol900FamilyCenteredCare()">
        <i class="icon ion-ios-paper-outline"></i>900 - Family Centered Care</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item257" ui-sref="tabsController.protocol901AtSceneRelease()">
        <i class="icon ion-ios-paper-outline"></i>901 - At Scene Release</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item258" ui-sref="tabsController.protocol902DeathDeterminationAndPronouncementProcess()">
        <i class="icon ion-ios-paper-outline"></i>902 - Death Determination and Pronouncement</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item259" ui-sref="tabsController.protocol903ControlledMedications()">
        <i class="icon ion-ios-paper-outline"></i>903 - Controlled Medication</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item260" ui-sref="tabsController.protocol904AAmbulanceDestination()">
        <i class="icon ion-ios-paper-outline"></i>904 A CCEMS Trauma Destination Protocol</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item261" ui-sref="tabsController.protocol904BDestinationProtocolForNonTraumaPatients()">
        <i class="icon ion-ios-paper-outline"></i>904 B - Destination Protocol for Non-Trauma Patient</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item262" ui-sref="tabsController.protocol904CDestinationProtocolForNonTraumaPatients()">
        <i class="icon ion-ios-paper-outline"></i>904 C Request for Destination Variance</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item265" ui-sref="tabsController.protocol905AdministrationOfNitroglycerin()">
        <i class="icon ion-ios-paper-outline"></i>905 - Administration of Nitroglycerin</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item266" ui-sref="tabsController.protocol906AdministrationOfAspirin()">
        <i class="icon ion-ios-paper-outline"></i>906 - Administration of Aspirin</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item267" ui-sref="tabsController.protocol907AdministrationOfPrescribedMeteredDoseInhalerOrSmallVolumeNebulizer()">
        <i class="icon ion-ios-paper-outline"></i>907 - Administration of Prescribed Metered Dose Inhaler or Small Volume Nebulizer</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item268" ui-sref="tabsController.protocol908AdministrationOfEpinephrineByAutoInjector()">
        <i class="icon ion-ios-paper-outline"></i>908 - Administration of Epinephrine by Auto-Injector</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item269" ui-sref="tabsController.protocol909AdministrationOfOralGlucose()">
        <i class="icon ion-ios-paper-outline"></i>909 - Administration of Oral Glucose</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item270" ui-sref="tabsController.protocol910InterfacilityTransportMedications()">
        <i class="icon ion-ios-paper-outline"></i>910 - Interfacility Transport - Medications</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item271" ui-sref="tabsController.protocol911FamilyCenteredCare()">
        <i class="icon ion-ios-paper-outline"></i>911 - Family Centered Care</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item272" ui-sref="tabsController.protocol912Ebola()">
        <i class="icon ion-ios-paper-outline"></i>912 - Ebola</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item273" ui-sref="tabsController.protocol913NeedleDecompressionProcedure()">
        <i class="icon ion-ios-paper-outline"></i>913 - Needle Decompression Procedure</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item274" ui-sref="tabsController.protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle()">
        <i class="icon ion-ios-paper-outline"></i>914 - Intraosseous Vascular Access "EZ IO"</ion-item>
      <ion-item class="item-icon-left" id="proceduralProtocols-list-item191" ui-sref="tabsController.protocol915SuckingChestWound()">
        <i class="icon ion-ios-paper-outline"></i>915 - Sucking Chest Wound</ion-item>
    </ion-list>
  </ion-content>
</ion-view>