<ion-view title="Protocol 1025 - Oxygen" id="page134">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1025Oxygen-heading146" style="color:#000000;text-align:center;">Oxygen</h1>
    <h5 id="protocol1025Oxygen-heading189" style="color:#000000;text-align:center;"></h5>
    <h5 id="protocol1025Oxygen-heading201" style="color:#000000;text-align:center;">Approved for all CCEMS units</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1025Oxygen-heading213" style="color:#000000;text-align:center;">Protocol 1025</h3>
    <div id="protocol1025Oxygen-markdown1669" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1025Oxygen-markdown1670" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>: ALL</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1025Oxygen-heading214" style="color:#000000;text-align:center;">Medical Gas</h4>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1025Oxygen-list184">
      <div class="item item-body" id="protocol1025Oxygen-list-item-container114">
        <div id="protocol1025Oxygen-markdown1671" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Mechanism of Action:</strong>
          </p>

          <p style="color:#000000;">Oxygen therapy, also known as supplemental oxygen, is the use of oxygen as a Medical Treatment. This can include conditions such as low blood oxygen, carbon monoxide toxicity, shock, headaches, and any low perfusion state. Long term oxygen is
            often useful in people with chronically low oxygen such as from severe COPD, Cystic Fibrosis or a weakened myocardium. Oxygen is required in all cases for normal cell metabolism.</p>

          <p style="color:#000000;">The target oxygen saturation recommended depends on the condition being treated. In most conditions a saturation of 94% or greater is recommended, while those with carbon monoxide toxicity or cardiac arrest they should be as high as possible.
            In the pre-hospital environment, high flow oxygen is indicated for use in resuscitation, major trauma, anaphylaxis, major bleeding, shock, active convulsions, and hypothermia. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1025Oxygen-list185">
      <div class="item item-body" id="protocol1025Oxygen-list-item-container125">
        <div id="protocol1025Oxygen-markdown1672" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
          </p>

          <p style="color:#000000;">The goal of pre-hospital oxygen use is as stated to maintain a blood oxygen saturation level of 94% or higher. Apply supplemental oxygen when hypoxia is present (O2 sat. &lt; 94 %) or when the conditions would indicate that supplemental oxygen
            would be beneficial.</p>

          <p style="color:#000000;">A second measure of oxygen need/usage is End Tidal CO2 (Etco2). This is the amount of expired carbon dioxide expressed on exhalation and is a more reliable indicator of the effectiveness of ventilation. Etco2 is not affected by poor peripheral
            circulation or cold extremities. Ideally Etco2 should be utilized whenever a pt. is noted to have hypoxia, a respiratory complaint or there is difficulty obtaining a peripheral pulse ox reading. </p>

          <p style="color:#000000;">
            <strong>A normal Etco2 level is 40 mmHg and the goal for EMS should be to maintain a level of 35-40 mmHg.</strong>
          </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1025Oxygen-list186">
      <div class="item item-body" id="protocol1025Oxygen-list-item-container126"></div>
    </ion-list>
    <h3 id="protocol1025Oxygen-heading215" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <h4 id="protocol1025Oxygen-heading239" style="color:#000000;text-align:center;">Adult and Pediatric dosages are the same</h4>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1025Oxygen-markdown1673" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Nasal Cannula</strong>
      </p>

      <p style="color:#000000;">A nasal cannula is generally used wherever small amounts of supplemental oxygen are required, without rigid control of respiration. Flow rates of 1-4 liters per minute are used with nasal cannulas, equating to a concentration of approximately 24-40%
        oxygen. Flow rates of up to 6 liters can be given but this will often cause nasal dryness and can be uncomfortable for patients. </p>

      <p style="color:#000000;">
        <strong>Flow rate can be adjusted to pt. comfort to achieve the goal of an oxygen sat. of 94 % or greater and/or an Etco2 of 35-40 mmHg.</strong>
      </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1025Oxygen-markdown1711" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Non-Rebreather Face Mask</strong>
      </p>

      <p style="color:#000000;">The non-rebreather mask covers both the nose and mouth of the patient and attaches with the use of an elastic cord around the patient's head. The NRB has an attached reservoir bag, typically 1 liter, that connects to an external oxygen tank. Before
        an NRB is placed on the patient, the reservoir bag must be inflated to greater than two-thirds full of oxygen, at a rate of 15 liters per minute (lpm).
        <br>Approximately ¹⁄₃ of the air from the reservoir is depleted as the patient inhales, and it is then replaced by the flow from the O2 supply. If the bag becomes completely deflated, the patient will no longer have a source of air to breathe.
        <br>Exhaled air is directed through a one-way valve in the mask, which prevents the inhalation of room air and the re-inhalation of exhaled air. The valve, along with a sufficient seal around the patient's nose and mouth, allows for the administration
        of high concentrations of oxygen, approximately 90%. The patient must partially deflate the reservoir bag during inspiration, or the high oxygen concentration will not be achieved, and the mask will provide only the liter flow rate setting on
        the flowmeter.
        <br>
        <strong>The flow rate for a Non-Rebreather Mask shall by 15 L in all cases.
          <br>The goal is to achieve an of an oxygen sat. of 94 % or greater and/or an Etco2 of 35-40 mmHg.</strong>
      </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1025Oxygen-markdown1712" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Small Volume Nebulizer</strong>
      </p>

      <p style="color:#000000;">Oxygen is used in conjunction with a nebulizer to allow the delivery of medications to the upper and/or lower airways. Nebulizers use compressed gas to propel liquid medication into an aerosol, with specific therapeutically sized droplets, for deposition
        in the appropriate, desired portion of the airway. </p>

      <p style="color:#000000;">
        <strong>The compressed gas flow rate of 6 L/min is used to nebulize medications.</strong>
      </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1025Oxygen-markdown1714" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>Positive Pressue Delivery</strong>
      </p>

      <p style="color:#000000;">Patients who are unable to breathe on their own will require positive pressure to move oxygen into their lungs for gaseous exchange to take place. CCEMS personnel, will use a bag-valve-mask (BVM), which is a malleable bag attached to a face mask
        (or invasive airway) with a reservoir bag attached, which is manually manipulated. </p>

      <p style="color:#000000;">
        <strong>The Flow rate shall be 15 L per minute in all cases. </strong>
      </p>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1025Oxygen-markdown1713" class="show-list-numbers-and-dots"></div>
    <div id="protocol1025Oxygen-button-bar23" class="button-bar"></div>
    <div id="protocol1025Oxygen-button-bar24" class="button-bar"></div>
    <h5 id="protocol1025Oxygen-heading216" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1025Oxygen-heading217" style="color:#000000;">January 10, 2019</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>