<ion-view title="Protocol - 914 Intraosseous Vascular Access " e-z="" (i="" o)="" or="" illinois="" bone="" needle ""="" id="page152">
  <ion-content padding="true" class="has-header">
    <h3 id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading830" style="color:#000000;text-align:center;">INTRAOSSEOUS VASCULAR ACCESS "E/Z (I/O) or ILLINOIS BONE NEEDLE"</h3>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-container110">
      <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1928" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1929" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading831" style="color:#000000;">Advanced EMT / Paramedic (CCEMS Rescue/Ambulance Personnel Only)</h4>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1930" class="show-list-numbers-and-dots">
      <p style="color:#000000;">RATIONAL:</p>

      <p style="color:#000000;">This protocol is for the CCEMS Paramedic/Advanced EMT assigned to an Ambulance or Rescue and addresses the establishment of I/O access in the adult/pediatric patient where venous access cannot be rapidly obtained. The "E-Z I/O" or Illinois Bone
        needle will provide a rapid alternative means of vascular access into the bone marrow of the proximal tibia in the critically unstable adult, or in a cardiac arrest patient. The tibial marrow space serves as a "non-collapsible vein" and provides
        access to the general circulation for the administation of all ACLS resuscitation drugs and IV fluids.</p>

      <p style="color:#000000;">INDICATIONS:</p>

      <p style="color:#000000;">Attempts at establishing a peripheral line have failed (2 attempts, or 90 seconds or no readily venous access is identified) in the following: </p>

      <ol>
        <li>Adult/pediatric cardiac arrest after attempts at peripheral lines have failed, or no readily venous access is identified. </li>
        <li>In an unresponsive critical trauma patient with unstable vital signs and attempts (2) at peripheral lines have failed or no readily venous access is identified. </li>
        <li>Consider the Illinois bone needle (18 ga.) in neonates (&lt;30 days of life).</li>
      </ol>
    </div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1970" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <h4 id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading835" style="color:#000000;">EQUIPMENT-ADULT</h4>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1932" class="show-list-numbers-and-dots">
      <ol>
        <li>E-Z IO or Illinois bone needle.</li>
        <li>Alcohol preps and gloves. </li>
        <li>E-Z stabilizer and tape. </li>
        <li>Select-3 IV tubing. </li>
        <li>1000 ml bag of NS. </li>
        <li>10 ml pre-filled NS syringes. </li>
        <li>Pressure bag</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1933" class="show-list-numbers-and-dots"></div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1934" class="show-list-numbers-and-dots"></div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1935" class="show-list-numbers-and-dots"></div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1936" class="show-list-numbers-and-dots"></div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1931" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading840" style="color:#0000FF;">PROCEDURE: TIBIAL PLACEMENT PREFERRED UNLESS BOTH LOWER EXTREMITIES ARE UNUSABLE</h4>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1971" class="show-list-numbers-and-dots">
      <ol>
        <li>Patient is placed in a supine position.</li>
        <li>Assemble all necessary equipment, attach and flush the EZ-IO tubing with a pre-filled NS stringe and a Select-3 IV set with a pressure bag (set up and flush maintaining sterility).</li>
        <li>Identify and locate the bony landmarks, the proximal tibia is the only approved site.</li>
        <li>Place a rolled towel under knee with a foot facing ourward (optional).</li>
        <li>The proximal tibial insertion site is approximately 2 cm below the patella and approximately 2 cm medial to the tibial tuberosity (depending on patient anatomy).</li>
        <li>Prep site with alcohol.</li>
        <li>Assess the tissue depth and insert the appropriate E-Z IO needle until contact is made with the tibia-ensure a black mark is visible above the surface of the skin (this will correspond to sufficent depth of the needle to be appropriately placed
          with the bone cavity.</li>
        <li>Firmly hold the E-Z IO at a 90-degree angle to the surface of the skin.</li>
        <li>While continuing to hold the bottom part firmly against the tibia, engage the drill and allow the needle to enter the tibia. *Extra force is not required.</li>
        <li>Once resistance is gone release the trigger and while holding the needle remove the drill and stylet.</li>
        <li>If the Illinois bone needle is used follow the Utah EMSC guideline/SOPs for insertion.</li>
        <li>It is suggested to attach the E-Z Stabilizer.</li>
        <li>Attach the E-Z IO tubing to the cannula and with the 10 ml pre-filled saline syringe attempt to aspirate bone marrow (not neccessary) and flush. *Lack of bone marrow does not mean that the I/O is inarropriately placed, however, it should flush
          easily. If no bone marrow is aspirated and unable to easily flush with NS then remove the cannula and choose another site.</li>
        <li>Connect the IV infusion set using a pressure bag, this should be done quickly to prevent the possibility of air embolization.</li>
        <li>Administer fluids and/or drugs as required.</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1973" class="show-list-numbers-and-dots">
      <p style="color:#000000;">CONTRAINDICATIONS: </p>

      <p style="color:#000000;">a. Placement of I/O line in a fractured bone.
        <br>b. Placement of I/O line distal to a fractured bone (tibial pacement with a fracture femur).
        <br>c.
        <strong>Prior I/O puncture in the same bone.</strong>
        <br>d. Osteogenesis Imperfecta-an inherited condition where the bones are abnormally brittle and subject to fractures.
        <br>e. A prosthetic limb.
        <br>f. Infection or burns are relative contraindications at the intended site-the Medical Control Physicians should be contacted prior to the insertion attempt. </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2019" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading861" style="color:#0000FF;">PROCEDURE- PROXIMAL HUMERUS (SECONDARY SITE-TO BE USED IF THE TIBIAL SITES ARE UNUSABLE): </h4>
    <h5 id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading862" style="color:#0000FF;">Proximal Humerus Identification &amp; Insertion Technique - Adult</h5>
    <div>
      <img src="img/I8xcWHNQT7SZRFObQYPe_HIO1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2020" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">
        <strong>Identify the proximal humerus: Place the patient’s hand over the abdomen (elbow adducted and humerus internally rotated)</strong>
      </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/dDFzHk0oTBmdbTXX7lHb_HIO2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2021" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">
        <strong>Place your palm on the patient’s shoulder anteriorly The area that feels like a “ball” under your palm is the general target area You should be able to feel this ball, even on obese patients, by pushing deeply</strong>
      </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/zf20KI7RZqcyQwm7OHyA_HIO3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2022" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">
        <strong>Place the ulnar aspect of one hand vertically over the axilla</strong>
      </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/8IztpwpsS76v6rHvcqDQ_HIO4.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2023" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">
        <strong>Place the ulnar aspect of the opposite hand along the midline of the upper arm laterally</strong>
      </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/MbTNxFkjT0ONjzh2GsfH_HIO5.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2024" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">
        <strong>Place your thumbs together over the arm. This identifies the vertical line of insertion on the proximal humerus</strong>
      </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/YRXEzdnURreTZaTtKg2S_HIO6.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2025" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">
        <strong>The insertion site is on the most prominent aspect of the greater tubercle, 1 to 2 cm above the surgical neck</strong>
      </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/7dSnM2UPQOuLnnLbDw6G_HIO7.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2031" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">
        <strong>Insertion</strong>
      </p>
    </div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2026" class="show-list-numbers-and-dots">
      <ul>
        <li style="color:#0000FF;">Prepare the site by using antiseptic solution of your choice </li>
        <li style="color:#0000FF;">Use a clean, “no touch” technique </li>
        <li style="color:#0000FF;">Remove the needle cap Point the needle set tip at a 45-degree angle to the anterior plane and posteromedial </li>
        <li style="color:#0000FF;">Push the needle tip through the skin until the tip rests against the bone </li>
        <li style="color:#0000FF;">The 5mm mark must be visible above the skin for confirmation of adequate needle length </li>
        <li style="color:#0000FF;">Gently drill into the humerus 2cm or until the hub reaches the skin in an adult.</li>
      </ul>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2029" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">
        <strong>The hub of the needleset should be perpendicular to the skin</strong>
      </p>
    </div>
    <div>
      <img src="img/n2g6tD1SAyYQJRfmPHxi_HIO8.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2028" class="show-list-numbers-and-dots">
      <p style="color:#0000FF;">
        <strong>Hold the hub in place and pull the driver straight off</strong>
      </p>
    </div>
    <div>
      <img src="img/HUnaWE4TN6stDx7TCHli_HIO9.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2030" class="show-list-numbers-and-dots">
      <ul>
        <li style="color:#0000FF;">Continue to hold the hub while twisting the stylet off the hub with counter clockwise rotations </li>
        <li style="color:#0000FF;">The needle should feel firmly seated in the bone (1st confirmation of placement) </li>
        <li style="color:#0000FF;">Place the stylet in a sharps container </li>
        <li style="color:#0000FF;">Place the EZ-Stabilizer dressing over the hub </li>
        <li style="color:#0000FF;">Attach a primed EZ-Connect® extension set to the hub, firmly secure by twisting clockwise</li>
        <li style="color:#0000FF;">
          Pull the tabs off the EZ-Stabilizer dressing to expose the adhesive, apply to the skin </li>
        <li style="color:#0000FF;">Aspirate for blood/bone marrow (2nd confirmation of placement) </li>
        <li style="color:#0000FF;">Secure the arm in place across the abdomen</li>
      </ul>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1972" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading863" style="color:#0000FF;">Proximal Humerus Insertion Site Identification – Infant/Small Child</h4>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2033" class="show-list-numbers-and-dots">
      <ul>
        <li style="color:#0000FF;">Place the patient’s hand over the abdomen (elbow adducted and humerus internally rotated) </li>
        <li style="color:#0000FF;">Place your palm on the patient’s shoulder anteriorly </li>
        <li style="color:#0000FF;">The area that feels like a “ball” under your palm is the general target area </li>
        <li style="color:#0000FF;">You should be able to feel this ball, even on obese patients, by pushing deeply </li>
        <li style="color:#0000FF;">Place the ulnar aspect of your hand vertically over the axilla </li>
        <li style="color:#0000FF;">Place the ulnar aspect of your other hand along the midline of the upper arm laterally </li>
        <li style="color:#0000FF;">Place your thumbs together over the arm </li>
        <li style="color:#0000FF;">This identifies the vertical line of insertion on the proximal humerus </li>
        <li style="color:#0000FF;">Palpate deeply up the humerus to the surgical neck </li>
        <li style="color:#0000FF;">This may feel like a golf ball on a tee – the spot where the “ball” meets the “tee” is the surgical neck </li>
        <li style="color:#0000FF;">The insertion site is 1 to 2 cm above the surgical neck, on the most prominent aspect of the greater tubercle</li>
      </ul>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2032" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading864" style="color:#0000FF;">EZ-IO® Proximal Humerus Insertion Technique – Infant/Small Child</h4>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2035" class="show-list-numbers-and-dots">
      <ul>
        <li style="color:#0000FF;">Prepare the site by using antiseptic of your choice </li>
        <li style="color:#0000FF;">Use a clean, “no touch” technique </li>
        <li style="color:#0000FF;">Remove the needle set cap </li>
        <li style="color:#0000FF;">Point the needle set tip at a 45-degree angle to the anterior plane and posteromedial </li>
        <li style="color:#0000FF;">Push the needle set tip through the skin until the tip rests against the bone </li>
        <li style="color:#0000FF;">The 5mm mark must be visible above the skin for confirmation of adequate needle set length </li>
        <li style="color:#0000FF;">Gently drill, immediately release the trigger when you feel the loss of resistance as the needle set enters the medullary space </li>
        <li style="color:#0000FF;">Avoid recoil – do NOT pull back on the driver when releasing the trigger </li>
        <li style="color:#0000FF;">Hold the hub in place and pull the driver straight off </li>
        <li style="color:#0000FF;">Continue to hold the hub while twisting the stylet off the hub with counter clockwise rotations </li>
        <li style="color:#0000FF;">The catheter should feel firmly seated in the bone (1st confirmation of placement) </li>
        <li style="color:#0000FF;">Place the stylet in a sharps container </li>
        <li style="color:#0000FF;">Place the EZ-Stabilizer dressing over the hub </li>
        <li style="color:#0000FF;">Attach a primed EZ- Connect® extension set to the hub, firmly secure by twisting clockwise </li>
        <li style="color:#0000FF;">Pull the tabs off the EZ-Stabilizer dressing to expose the adhesive, apply to the skin </li>
        <li style="color:#0000FF;">Aspirate for blood/bone marrow (2nd confirmation of placement)
          <br>
          <strong>Secure the arm in place across the abdomen</strong>
        </li>
      </ul>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown2034" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading842" style="color:#FF0000;">MEDICAL CONTROL OPTION:</h4>
    <h1 id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading841" style="color:#FF0000;"></h1>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1974" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">An E-Z IO may be placed in a
        <strong>conscious patient</strong> under the folowing circumstances: </p>

      <ol>
        <li style="color:#FF0000;">Patient is deemed critically ill/injured with unstable vital signs. </li>
        <li style="color:#FF0000;">No peripheral vascular access is readily accessible.</li>
      </ol>

      <p style="color:#FF0000;">Procedure: </p>

      <ol>
        <li style="color:#FF0000;">Contact on-line medical control @ LRH. </li>
        <li style="color:#FF0000;">Follow above listed procedure concerning placement. </li>
        <li style="color:#FF0000;">2% preservative and epinephrine free lidocaine (intravenous lidocaine) will be used </li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading744" style="color:#FF0000;">ADULT PAIN CONTROL (LIDOCAINE)</h5>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1717" class="show-list-numbers-and-dots">
      <ol>
        <li style="color:#FF0000;">Prime EZ-Connect® extension set with lidocaine
          <ul>
            <li style="color:#FF0000;">
              <strong>Note that the priming volume of the EZ-Connect® extension set is approximately 1.0 mL</strong>
            </li>
          </ul>
        </li>
        <li style="color:#FF0000;">Slowly infuse lidocaine 40 mg IO over 120 seconds </li>
        <li style="color:#FF0000;">Allow lidocaine to dwell in IO space 60 seconds </li>
        <li style="color:#FF0000;">Flush with 5-10 mL of normal saline </li>
        <li style="color:#FF0000;">Slowly administer an additional dose of lidocaine IO (typically 20 mg) over 60 seconds </li>
        <li style="color:#FF0000;">Contact OLMC for repeat doses of Lidocaine</li>
      </ol>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading746" style="color:#FF0000;">PEDIATRIC PAIN CONTROL (LIDOCAINE)</h5>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1720" class="show-list-numbers-and-dots">
      <ol>
        <li style="color:#FF0000;">Prime EZ-Connect® extension set with lidocaine
          <ul>
            <li style="color:#FF0000;">
              <strong>Note that the priming volume of the EZ-Connect® extension set is approximately 1.0 mL</strong>
            </li>
          </ul>
        </li>
        <li style="color:#FF0000;">Slowly infuse lidocaine 0.5mg/kg, not to exceed 40 mg IO over 120 seconds </li>
        <li style="color:#FF0000;">Allow lidocaine to dwell in IO space 60 seconds </li>
        <li style="color:#FF0000;">Flush with 2-5mL of normal saline </li>
        <li style="color:#FF0000;">Slowly administer subsequent lidocaine (half the initial dose) IO over 60 seconds </li>
        <li style="color:#FF0000;">Contact OLMC for repeat doses of Lidocaine </li>
      </ol>

      <p style="color:#FF0000;">Systemic pain control for patients not responding to IO Lidocaine</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1968" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-heading839" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div>
      <img src="img/2ipZFbyaTPitOI3aJOFW_ScreenShot2018-02-10at8.22.37AM.png" style="display:block;width:50%;height:auto;">
    </div>
    <div id="protocol914IntraosseousVascularAccessEZIOOrIllinoisBoneNeedle-markdown1969" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brett Porter M.D.</p>

      <p style="color:#000000;">January 18, 2019</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>