<ion-view title="Protocol 1022 - Ativan" id="page50">
  <ion-content padding="true" class="has-header">
    <h1 id="protocol1022Ativan-heading235" style="color:#000000;text-align:center;">Ativan</h1>
    <h5 id="protocol1022Ativan-heading236" style="color:#000000;text-align:center;">Lorazepam</h5>
    <h5 id="protocol1022Ativan-heading237" style="color:#000000;text-align:center;">Approved for Rescue Paramedics Only</h5>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="protocol1022Ativan-heading238" style="color:#000000;text-align:center;">Protocol 1022</h3>
    <div id="protocol1022Ativan-markdown401" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOT</strong> a treatment protocol. See reference protocol listed below for use. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="protocol1022Ativan-markdown402" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Reference Protocols</strong>:
        <a href="#/Tabs_Controller/tab1/Protocol_201">201</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_509">509</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_714">714</a>,
        <a href="#/Tabs_Controller/tab1/Protocol_802">802</a>.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="protocol1022Ativan-heading743" style="color:#000000;text-align:center;">Anticonvulsant / Sedative (Benzodiazepine)</h4>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1022Ativan-list198">
      <div class="item item-body" id="protocol1022Ativan-list-item-container140">
        <div id="protocol1022Ativan-markdown403" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>MECHANISM OF ACTION</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Suppresses Seizure Activity Through Motor Cortex of the Brain.
            <br>
            <strong>2.</strong> Effective Skeletal Muscle Relaxant. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1022Ativan-list199">
      <div class="item item-body" id="protocol1022Ativan-list-item-container141">
        <div id="protocol1022Ativan-markdown404" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>INDICATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Major Motor Seizures - Status Epilepticus.
            <br>
            <strong>2.</strong> Chemical Restraint/Sedative for combative patient.
            <br>
            <strong>3</strong>. Anxiolytic
            <br>
            <strong>4.</strong> Skeletal Muscle Relaxant in Isolated Orthopedic Injury. </p>

          <ul>
            <li>Example: Femur Fracture and Severe Muscle Spasms. </li>
          </ul>

          <p style="color:#000000;">
            <strong>5.</strong> Severe Back Pain With Prolonged Transport. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="protocol1022Ativan-list200">
      <div class="item item-body" id="protocol1022Ativan-list-item-container142">
        <div id="protocol1022Ativan-markdown405" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONTRAINDICATIONS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Pregnancy.
            <br>
            <strong>2.</strong> Known Hypersensitivity.
            <br>
            <strong>3.</strong> Incompatible with Zofran - Flush tubing well between uses. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="height: 22px;"></div>
    <ion-list id="protocol1022Ativan-list201">
      <div class="item item-body" id="protocol1022Ativan-list-item-container143">
        <div id="protocol1022Ativan-markdown406" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SIDE EFFECTS</strong>
          </p>

          <p style="color:#000000;">
            <strong>1.</strong> Respiratory Depression/Arrest.
            <br>
            <strong>2.</strong> Hypotension.
            <br>
            <strong>3.</strong> Nausea/Vomiting.
            <br>
            <strong>4.</strong> Amnesia
            <br>
            <strong>5.</strong> Paradoxical Reactions: </p>

          <ul>
            <li>a. Anxiety </li>
            <li>b. Excitation</li>
            <li>c. Agitation</li>
            <li>d. Aggression</li>
            <li>e. Rage-Hostility</li>
          </ul>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h3 id="protocol1022Ativan-heading240" style="color:#000000;text-align:center;">Dosage and Administration</h3>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1022Ativan-markdown408" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>
          <a href="#/Tabs_Controller/Protocol_1022">Lorazepam (Ativan)</a>
        </strong>
      </p>

      <ol>
        <li>
          <strong>ADULT:</strong> 1mg IV/IM/IO initial dose and can repeat at 5 minutes - total maximum dose 2mg. If possible, contact OLMC prior to the second dose. </li>
        <li>
          <strong>Peds:</strong> 0.05 mg/kg IV/IM/IO with maximum initial dose of 1mg and can repeat at 5 minutes - Total maximum dose 2mg. If possible, contact OLMC prior to the second dose. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 22px;"></div>
    <div class="spacer" style="height: 22px;"></div>
    <div id="protocol1022Ativan-markdown409" class="show-list-numbers-and-dots"></div>
    <div id="protocol1022Ativan-button-bar29" class="button-bar"></div>
    <div id="protocol1022Ativan-button-bar30" class="button-bar"></div>
    <h5 id="protocol1022Ativan-heading241" style="color:#000000;">OFFLINE MEDICAL CONTROL APPROVAL</h5>
    <div class="spacer" style="height: 22px;"></div>
    <div>
      <img src="img/DhFUZQH8RSaDN523yKfR_ScreenShot2018-01-30at11.08.28PM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="protocol1022Ativan-heading242" style="color:#000000;">January 2016</h5>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>